.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 250px;
  gap: 8px;
}

.input {
  width: 100%;
  max-width: 250px;
  padding: 16px;
  border-color: #ffffff99;
  border-radius: 16px;
  outline: none;
  color: #ffffff;
  background-color: transparent;
  transition: all 150ms ease-in-out;
  text-align: center;
  font-size: large;
}

.input:hover,
.input:focus {
  border-color: #ffffff;
}
